<section class="container">
  <div class="moto-gear-row">
    <!-- IZQUIERDA: GUANTES -->
     <div class="moto-gear-right">
      <div class=" hx-helmet-card" aria-label="Casco de moto">
        <div class="hx-helmet" role="img" aria-label="Casco de moto en CSS">
          <div class="hx-helmet__shell"></div>
          <div class="hx-helmet__shadow"></div>

          <div class="hx-helmet__visor"></div>
          <div class="hx-helmet__visor-glow"></div>

          <div class="hx-helmet__chin"></div>
          <div class="hx-helmet__vent"></div>

          <div class="hx-helmet__stripe"></div>
          <div class="hx-helmet__stripe2"></div>

          <div class="hx-helmet__badge"></div>

          <div class="hx-helmet__bt">
            <span class="hx-helmet__led hx-helmet__led--g"></span>
            <span class="hx-helmet__led hx-helmet__led--r"></span>
          </div>

          <div class="hx-helmet__shine"></div>
          <div class="hx-helmet__shine2"></div>

          <div class="hx-helmet__heart"></div>
          <div class="hx-helmet__heart2"></div>
        </div>
      </div>
    </div>
    


    


    <!-- DERECHA: CASCO -->
 <div class="moto-gear-left">
      <div class=" moto-gloves-card">
        <div class="moto-gloves">
          <div class="moto-glove moto-glove--left">
            <div class="moto-glove__finger f1"></div>
            <div class="moto-glove__finger f2"></div>
            <div class="moto-glove__finger f3"></div>
            <div class="moto-glove__finger f4"></div>
            <div class="moto-glove__thumb"></div>
            <div class="moto-glove__palm"></div>
          </div>

          <div class="moto-glove moto-glove--right">
            <div class="moto-glove__finger f1"></div>
            <div class="moto-glove__finger f2"></div>
            <div class="moto-glove__finger f3"></div>
            <div class="moto-glove__finger f4"></div>
            <div class="moto-glove__thumb"></div>
            <div class="moto-glove__palm"></div>
          </div>
        </div>

      </div>
    </div>



    
  </div>
</section>
