<section class="container">
  <div class="card moto-gloves-card">
    <div class="moto-gloves">
      <div class="moto-glove moto-glove--left">
        <div class="moto-glove__finger f1"></div>
        <div class="moto-glove__finger f2"></div>
        <div class="moto-glove__finger f3"></div>
        <div class="moto-glove__finger f4"></div>
        <div class="moto-glove__thumb"></div>
        <div class="moto-glove__palm"></div>
        <div class="moto-glove__heart"></div>
      </div>

      <div class="moto-glove moto-glove--right">
        <div class="moto-glove__finger f1"></div>
        <div class="moto-glove__finger f2"></div>
        <div class="moto-glove__finger f3"></div>
        <div class="moto-glove__finger f4"></div>
        <div class="moto-glove__thumb"></div>
        <div class="moto-glove__palm"></div>
        <div class="moto-glove__heart"></div>
      </div>
    </div>

    <h2 class="moto-gloves-text">No los pierdas 🛵</h2>
  </div>
</section>
