<section class="container">
  <div class="cat2-card" aria-label="Gatito dormilón 2">
    <div class="cat2">
      <div class="cat2__ear cat2__ear--left"></div>
      <div class="cat2__ear cat2__ear--right"></div>

      <div class="cat2__head">
        <div class="cat2__eye cat2__eye--left"></div>
        <div class="cat2__eye cat2__eye--right"></div>

        <div class="cat2__cheek cat2__cheek--left"></div>
        <div class="cat2__cheek cat2__cheek--right"></div>

        <div class="cat2__nose"></div>
        <div class="cat2__mouth"></div>

        <div class="cat2__whiskers cat2__whiskers--left"></div>
        <div class="cat2__whiskers cat2__whiskers--right"></div>
      </div>

      <div class="cat2__body"></div>
      <div class="cat2__paws"></div>
      <div class="cat2__tail"></div>

      <div class="cat2__zzz" aria-hidden="true">
       <span>a</span><span>r</span><span>u</span><span>r</span><span>u</span><span>P</span><span>a</span><span>o</span>
      </div>
    </div>

 
  </div>
</section>
